body {
    font-family: Arial, sans-serif;
    background-image: url("/source/background.jpg");
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

h1,
h2,
h3 {
    text-align: center;
}

.container {
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;


    background: rgba(75, 52, 65, 0.15);
    box-shadow: 0 4px 30px rgba(75, 52, 65, 0.1);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.22);
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);


}

.player,
.computer,
.result {
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #000000a4;
}

.player {
    order: 2;
}

.computer {
    order: 3;
}

.result {
    order: 1;
}

#player-cards,
#computer-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    margin: 5px;
    background: rgb(244, 63, 34);
    background: linear-gradient(115deg, rgba(244, 63, 34, 1) 0%, rgba(214, 55, 75, 1) 100%);
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}


.button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

button {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #820000;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: 500ms;
}

button:hover {
    background-color: #820000;
}

button:active {
    box-shadow: none;
}

#result {
    font-size: 24px;
    text-align: center;
    margin: 10px;
}